@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
$red: #FF5773;
$red2: #FF5773;
$white: #ffffff;
$blue: #216FDB;
$pink: #FEF0EF;
$black: #000000;
$darkGrey: #575757;
$grey2: #666666;
$green: #278727;
$footerBg: #33333D;
$footerTextColor: #FFFFFF;
$orange: #F68B1F;
$orange2: #FF9066;
$breadCrumbBg: #F8FAFF;
$ligtGrey: #7B7B7B;
$yellow: #FFD188;
$yellow2: #F0C142;
$darkYellow: #FFC567;
$lightGreen: #F3F7FF;
$lightGreen2: #F2FAFF;
$courseNavigationColor: #707070;
$dashboardBlack: #33333D;
$black2: #0F0E2D;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$dxl: 1536px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #FBFCFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.greyText {
  color: $grey2;
}

.lightGreyText {
  color: #717171;
}

.greenText {
  color: $green;
}

.redText {
  color: $red2;
}

.orangeText {
  color: $orange2;
}

.yellowText {
  color: $yellow2;
}

.red2Bg {
  background-color: $red2;
}

.orange2Bg {
  background-color: $orange2;
}
.blackText{
  color: $black2;
}
.redBorder {
  border: thin solid $red2;
}

.mainBoxShadow {
  box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.16);
}
.maxWidth-344px{
  max-width: 344px;
  width: 100%;
}
.minWidth-205px{
  min-width: 205px;
}
.headerCon {
  @media (min-width: $xl) {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  }

  .headerMain {
    @media (max-width: 1279px) {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    }

    .brand {
      font-size: 30px;
      color: $black;
      font-weight: 600;
    }

    .headingNotification.notification {
      padding: 15px !important;
    }

    a,
    .text17px {
      font-size: 14px;
      letter-spacing: 0.17px;
      color: #565656;
      font-weight: 500;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        color: $red;
      }

      @media (max-width: $xl) {
        font-size: 15px;
      }

      @media (max-width: $lg) {
        font-size: 17px;
      }
    }

    button.text17px {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }

    a.signUpBtn,
    form button {
      background-color: $red2;
      color: $white;
      text-align: center;
      border-radius: 7px;
      padding: 10px 15px;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        background-color: $black;
      }
    }

    form {
      button {
        height: 40.8px;
        border-radius: 0 7px 7px 0;
        padding-top: 12px;

        img {
          width: 17.46px;
          max-width: 17.46px;
        }
      }

      .searchInput {
        border: thin solid #8F8F8F;
        border-radius: 7px 0 0 7px;
        border-right: none;
        min-width: 240px;
        padding-left: 18px;
        font-size: 14px;
        height: 40.8px;
        outline: none !important;

        &:focus {
          border-color: $red;
        }

        @media (max-width: $lg) {
          width: 100%;
        }

        @media (max-width: $sm) {
          min-width: 180px;
        }
      }
    }


    .showMenu {
      background-color: $white;
      height: 100vh;
      overflow-y: scroll;
      padding: 20px;
      width: 100%;
    }

    .menuDropDown {
      background-color: #fff;
      width: max-content;
    }

    .profileDropdown {
      border-bottom: thin solid $courseNavigationColor;

      span {
        color: $darkGrey !important;
      }
    }

    .notificationDropdown {
      width: 316px;

      .headingNotification {
        border-bottom: thin solid $courseNavigationColor;
      }

      @media (max-width: $xl) {
        width: 100%;
      }

    }

    .notificationCount {
      font-size: 8px;
    }

  }
}


.footer {
  background-color: $footerBg;
  margin-top: -2px;
  color: $footerTextColor;

  .title {
    margin-bottom: 53px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
  }

  .links {
    margin-top: 38px;
  }

  a {
    color: $footerTextColor;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      color: $red;
    }
  }

  .logo-CopyRight {
    h3 {
      font-size: 40px;
      line-height: 21px;
      font-family: 'Roboto', sans-serif;

      @media (max-width: $md) {
        font-size: 22px;
        line-height: unset;
      }
    }

    p {
      color: $white;
      font-size: 14px;
      line-height: 24px;
    }

    .description {
      margin-top: 62px;
    }
  }

  .socialIcons {
    margin-top: 71px;

    a {
      margin-left: 16px;
      margin-right: 16px;
      display: inline-block;

      img {
        height: 25px;
        width: auto;
      }
    }
  }
}

.viewAllBtn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.28px;
  background-color: $red2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    background-color: $black;
  }

  @media (max-width: $sm) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.c-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 12px;
  outline: none !important;
  font-weight: 500;
}

.addCartBtn {
  background-color: $red;
  color: $white;
  border: 2px solid $red;

  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
  }
}

.enrollBtn {
  border: 2px solid $red;
  color: $red;
  margin-top: 22px;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.slick-arrow {
  height: 59px !important;
  width: 59px !important;
  background-color: $white !important;

  &::before {
    display: none;
  }
}

.slick-prev,
.slick-next {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-radius: 5px !important;
}

.slick-prev {
  background-image: url(../images/left-arrow-grey.png) !important;

  &:hover {
    background-image: url(../images/left-arrow-red.png) !important;
  }
}

.slick-next {
  background-image: url(../images/right-arrow-grey.png) !important;

  &:hover {
    background-image: url(../images/right-arrow-red.png) !important;
  }
}

.slick-dots {
  display: none !important;
}

.breadcrumbs {
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: $breadCrumbBg;

  a {
    color: #7B7B7B;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      color: $red
    }
  }

  p {
    color: #7B7B7B;
  }
}

.formAccordion {
  .accordion {
    border: none !important;
    border-radius: 0;

    .accordion__item {
      border: none !important;
    }

    .accordion__panel {
      padding: 0;
    }

    .accordion__button {
      background: none;
      border: none;
      padding: 0;

      .fitlerForm {
        margin-bottom: 0 !important;
      }

      &::before {
        float: right;
        margin-top: 18px;
        border-bottom: 2.5px solid #7B7B7B;
        border-right: 2.5px solid #7B7B7B;
        margin-right: 22px;
        transform: rotate(45deg);
      }
    }

    .accordion__button[aria-expanded='true']::before,
    .accordion__button[aria-selected='true']::before {
      transform: rotate(225deg);
      margin-top: 26px;
    }
  }
}

.pagination {

  button:not(.more) {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: $ligtGrey;
    outline: none;

    @media (min-width: $md) {
      width: 40px;
      height: 40px;
    }
  }

  button.previous,
  button.next {
    border: thin solid #7B7B7B;
  }

  button.active {
    background-color: $red2;
    color: $white;
  }
}

.subscribe {
  background-image: url(../images/redDots.png), url(../images/greyDots.png), url(../images/sub-bottom-bg.png);
  background-position: 0 calc(100% - 152px), right top, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 143px 230px, 143px 230px, 100% 150px;

  .thumbnail {
    width: 108px;
    height: 108px;
    overflow: hidden;
    border-radius: 10px;
  }

  .message {
    .title {
      font-size: 22px;
      line-height: 34px;
      color: $black;
      font-weight: 600;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #212121DE;
    }

    .viewAllBtn {
      font-size: 16px;
    }
  }
}

.form-checkbox {
  label {
    position: relative;
    padding-left: 36px;

    input {
      display: none;

      &:checked+i {
        background-image: url(../images/checkbox-checked.png);
        border: none;
      }
    }

    i {
      width: 22px;
      height: 22px;
      display: block;
      position: absolute;
      left: 0;
      top: -2px;
      border-radius: 5px;
      background-size: 100% 100%;
      background-position: center center;
      border: thin solid #707070;
      box-sizing: border-box;

      &:before,
      &:after {
        box-sizing: border-box;
      }
    }
  }
}

.courseList {
  button.backButton {
    font-size: 18px;
    outline: none;

    .backIcon {
      width: 56px;
      height: 56px;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;

      img {
        width: 24px;
        height: 17px;
        margin-top: 20px;
      }
    }

    &:hover {
      color: $black;

      .backIcon {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.slimScroll {
  height: calc(100vh);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $darkGrey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $lightGreen;
    box-sizing: border-box;
    border: thin solid $ligtGrey;
  }
}

.mobileHeader {
  background-color: $red;
  padding: 10px
}

.moduleDrawer {
  @media (max-width: 1279px) {
    position: fixed;
    opacity: 0;
    width: calc(100% - 70px);
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

}

.openDrawer {
  @media (max-width: 1279px) {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@import './loading';
@import './login';
@import './teacherDashboard';
@import './examinations';
@import './attendance';